<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <app-main-header></app-main-header> -->
<!-- <app-header></app-header> -->

<h1 class="dashboard_heading">Case Transfer</h1>

<div class="container">
    <div class="form-container">
        <div class="form-group">
            <label>Case Nature</label>
            <select>
                <option>Select Case Nature</option>
            </select>
        </div>
        <div class="form-group">
            <label>Registration No.</label>
            <input type="text" placeholder="Enter Registration No.">
        </div>
        <div class="form-group">
            <label>Case Year</label>
            <select>
                <option>Select Case Year</option>
            </select>
        </div>
    </div>

    <div class="btn-container">
        <button class="btn">Search</button>
        <button class="btn" style="background-color: brown;">Reset</button>

    </div>
</div>

<div class="container">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Sl. NO.</th>
                    <th>CNR Case NO.</th>
                    <th>Petitioner Name</th>
                    <th>Compliance From</th>
                    <th>Compliance To</th>
                    <th>Compliance Status</th>
                    <th>Activity</th>
                    <th>Remarks</th>
                    <th>Due Date</th>
                    <th>Compliance</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>CNR001</td>
                    <td>John Doe</td>
                    <td>01-01-2025</td>
                    <td>10-01-2025</td>
                    <td>Pending</td>
                    <td>Review</td>
                    <td>Urgent</td>
                    <td>15-01-2025</td>
                    <td>History</td>

                    <!-- <td><button class="btn">Edit</button></td> -->
                </tr>
                <tr>
                    <td>2</td>
                    <td>CNR002</td>
                    <td>Jane Smith</td>
                    <td>05-01-2025</td>
                    <td>15-01-2025</td>
                    <td>In Progress</td>
                    <td>Approval</td>
                    <td>Needs Clarification</td>
                    <td>20-01-2025</td>
                    <td>History</td>

                    <!-- <td><button class="btn">Edit</button></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>