<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Case Report Form</title>

</head>
<body>
  <div class="container">
    <h2 style="   text-align: center;
    text-decoration: underline;
    font-weight: bold;
    -webkit-text-stroke: 1px rgb(64, 4, 64); 
    color: rgb(76, 72, 72);">Generate MIS Reports</h2>
    <form class="mis-report-form">
      <div class="form-group-full">
        <label>Case Status</label>
        <div class="radio-group">
          <label><input type="radio" name="caseStatus" /> All</label>
          <label><input type="radio" name="caseStatus" /> Pending</label>
          <label><input type="radio" name="caseStatus" /> Disposal</label>
        </div>
      </div>
      <div class="form-group-full">
        <label>Report Type</label>
        <div class="radio-group">
          <label><input type="radio" name="reportType" /> Summary</label>
          <label><input type="radio" name="reportType" /> Details</label>
        </div>
      </div>

      <div class="form-group">
        <label>District</label>
        <select></select>
      </div>

      <div class="form-group">
        <label>Directorate</label>
        <select></select>
      </div>

      <div class="form-group">
        <label>Case Nature</label>
        <select></select>
      </div>

      <div class="form-group">
        <label>Category</label>
        <select></select>
      </div>

      <div class="form-group">
        <label>Subject</label>
        <select></select>
      </div>

      <div class="form-group">
        <label>Disposal Type</label>
        <select></select>
      </div>

      <div class="form-group">
        <label>Disposal Year From</label>
        <select></select>
      </div>

      <div class="form-group">
        <label>Disposal Year To</label>
        <select></select>
      </div>

      <div class="form-group">
        <label>Case Year From</label>
        <select></select>
      </div>

      <div class="form-group">
        <label>Case Year To</label>
        <select></select>
      </div>

     

      <div class="button-wrapper">
        <button type="submit">View Report</button>
      </div>
    </form>
  </div>
</body>
</html>
