<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="home_main_container">

        <div class="head_container">
            <div class="logo_img1_cg_ccms_container">
            <img class="logo_img1" src="https://ccms.cg.gov.in/assets/images/govlogo.png" alt="">
            <h2 class="cg_ccms"><span style="font-size: large;">CHHATTISGARH </span> <br>
               <span style="font-weight: bolder;"> COURT CASE MONITORING SYSTEM</span></h2>
            </div>
            <img class="logo_img2" src="https://ccms.cg.gov.in/assets/images/eCourt-india.png" alt="">
        </div>
        <div class="form_page_container">
            <p class="form_page"><img src="https://ccms.cg.gov.in/#" alt=""></p>
            <p class="form_page" [routerLink]="'/login'">login </p>
            <p class="form_page" [routerLink]="'/onboarding'" style="cursor: pointer;">Dashboard Onboarding Form</p>
            <p class="form_page">Video Tutorial</p>
        </div>
        <div class="detail_count_container">
            <div class="detail_count" style="background-color:green;"><h3>Onboard Detail</h3></div>
            <div class="detail_count" style="background-color: rgb(159, 134, 45);"><h3>Registered User</h3></div>
            <div class="detail_count" style="background-color: darkmagenta;"><h3>High Court Cases</h3></div>
            <div class="detail_count" style="background-color: blue;"><h3>High Court Pending Cases</h3></div>
            <div class="detail_count" style="background-color: red;"><h3>High Court Dispose Cases</h3></div>
        </div>
        <div class="ccms_info_img_main_container">
            <div class="ccms_info_container">
                <h1 style="color: darkgoldenrod;">Court Case Monitoring System</h1>
                <p>An Online application for Government departments to manage their court cases.</p>
                <p>Department sync case information and make updates,set alerts.</p>
                <p>Integrated with the High court Information System to receive updated status and final orders.</p>
                <p> The Court Case Monitoring System(CCMS) software is the digital diary,which keeps everything in
                    orgranised and easily accessible.</p>
                <p> Our feature rich application Departments case Diary has all the value added features that a department
                    always look foorward to having to meet his or her expectations to simplify court case tracking.</p>
            </div>
            <div class="cm_img_container">
    
                <img class="cm_img" src="https://ccms.cg.gov.in/theme/images/ChhattisgahCM.jpg" />
    
            </div>
        </div>
    <br>
        <div class="img_slider_container">
    
        </div>
    
        <div class="footer_container">
    <p>Website Content Managed by <span style="font-weight: bold;font-size: medium;">Departments of Chhattisgarh Government Designed </span><br>
        Developed and Hosted by <span style="font-weight: bold;font-size: medium;"> National Informatics Centre (NIC) </span><br>
        Chhattisgarh State Center Mahanadi Bhawan New Raipur</p>
        </div>
    </div>
    
    
    
    
    
    
</body>
</html>