.dispatch-container {
  width: 98%;
  margin: 2% auto;
  padding: 1%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1%;
}
.filter-section {
  border: 1px solid #d3cfcf;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-wrap: wrap;
  gap: 1%; /* This applies both row and column gap if used alone */
  row-gap: 10px; /* Add this line to specify row gap */
  margin-bottom: 2%;
  padding: 1%;
}


.filter-section input,
.filter-section select {
  margin: auto;
  width: 22%;
  padding: 0.8%;
  gap: 1%;
  /* height: 4vh; */
  border:1px solid #120101;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.filter-section button {
  width: 10%;
  padding: 1%;
  background-color: #064583;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dispatch-table {
  width: 100%;

  border-collapse: collapse;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dispatch-table th,
.dispatch-table td {
     border: 1px solid #ccc;

  /* border: 0.1% solid #ccc; */
  padding: 0.5%;
  text-align: center;
}

.dispatch-table th {
     background-color: #092c4f;
      color: white;
  /* background-color: #f0f0f0; */

}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
  gap: 1%;
}

.pagination button {
  padding: 0.5% 1.5%;
  border: none;
  background-color:  #092c4f;
  color: white;
  border-radius: 5%;
  cursor: pointer;
}

.pagination button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}





.form-row {
  display: flex;
  align-items: flex-end;
  gap: 10%;
}

.form-group {
  padding: 1%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 4px;
}

.form-group input {
  padding: 3%;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.dispatch-btn {
  padding: 4%;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  white-space: nowrap;
}
