.dashboard_box_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: rgb(251, 244, 244); */
    height: 20vh;
    }
    .box_container{
        margin-top: 2%;
        /* border: 1PX solid; */
    padding: 1%;
    height: 5vh;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
    
    }
    